/*fondo*/
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #1e1e2f, #2b2b45);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

body.normal { 
  background: #bdbdbd; color: #000;}
body.electric{ 
  background: #f7d02c; color: #000;}
body.fire { 
  background: #ee8130;}
body.ground { 
  background: #e2bf65;}
body.rock { 
  background: #b6a136; color: #000;}
body.water { 
  background: #6390f0;}
body.grass { 
  background: #7ac74c;}
body.bug { 
  background: #a6b91a;}
body.flying { 
  background: #a98ff3;}
body.ice { 
  background: #96d9d6; color: #000;}
body.poison { 
  background: #a33ea1;}
body.fairy { 
  background: #d685ad;}
body.fighting { 
  background: #c22e28;}
body.psychic { 
  background: #f95587;}
body.steel { 
  background: #b7b7ce; color: #000; }
body.ghost { 
  background: #735797;}
body.dark { 
  background: #705746;}
body.dragon { 
  background: #6f35fc;}

/*card*/
.card {
    background: rgba(43, 43, 69, 0.8);
    backdrop-filter: blur(20px);
    padding: 30px;
    border-radius: 20px;
    width: 320px;
    text-align: center;
    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
    color: white;
    transition: transform 0.3s ease;

}

.card:hover {
    transform: translateY(-5px);
}
.card img {
    width: 220px;
    filter: drop-shadow(0 15px 25px rgba(0,0,0,0.6));
    transition: transform 0.4s ease;
}

.card img:hover {
    transform: scale(1.08);
}

#pokemon-name {
    font-size: 28px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 15px 0 5px 0;
}

/*imagen*/

img:hover {
    transform: scale(1.1) rotate(2deg);
}
.type {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: 5px;
    transition: transform 0.2s ease;
}
.type:hover {
    transform: scale(1.1);
}

/* pokemones los tipos */
.type.normal { 
  background: #bdbdbd; color: #000;}
.type.electric { 
  background: #f7d02c; color: #000;}
.type.fire { 
  background: #ee8130;}
.type.ground { 
  background: #e2bf65;}
.type.rock { 
  background: #b6a136; color: #000;}
.type.water { 
  background: #6390f0;}
.type.grass { 
  background: #7ac74c;}
.type.bug { 
  background: #a6b91a;}
.type.flying { 
  background: #a98ff3;}
.type.ice { 
  background: #96d9d6; color: #000;}
.type.poison { 
  background: #a33ea1;}
.type.fairy { 
  background: #d685ad;}
.type.fighting { 
  background: #c22e28;}
.type.psychic { 
  background: #f95587;}
.type.steel { 
  background: #b7b7ce; color: #000; }
.type.ghost { 
  background: #735797;}
.type.dark { 
  background: #705746;}
.type.dragon { 
  background: #6f35fc;}



  
/*boton*/
button {
    padding: 10px 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    color: white;
    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

button:active {
    transform: scale(0.95);
}

/* La parte de los modal */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden {
    display: none;
}
#modal-img {
    width: 160px;
    margin: 15px auto;
    display: block;
    background: #000000;
    padding: 10px;
    border-radius: 20px;
    box-shadow: inset 0 10px 50px rgba(0,0,0,0.2);
}
.modal-content {
    margin: 5px;
    width: 600px;
    height: 1150px;
    padding: 20px;
    border-radius: 30px;
    position: relative;
    animation: fadeIn 0.3s ease;
    color: rgb(0, 0, 0);

    background: rgba(43, 43, 69, 0.8);
    backdrop-filter: blur(20px);

    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
    transition: transform 0.3s ease;

    /* Marco carta */
    border: 20px solid #000000;
     border-radius: 50px;
    box-shadow: 
        0 15px 40px rgba(0,0,0,0.6),
        inset 0 0 15px rgba(255,255,255,0.8);
}


/* Fondo segun tipo */
.modal-content.fire {
  background: linear-gradient(145deg, #ff9a3c, #ff5722);
}

.modal-content.water {
  background: linear-gradient(145deg, #6ec6ff, #1e88e5);
}

.modal-content.grass {
  background: linear-gradient(145deg, #9ccc65, #43a047);
}

.modal-content.electric {
  background: linear-gradient(145deg, #fff176, #fbc02d);
}

.modal-content.psychic {
  background: linear-gradient(145deg, #f48fb1, #d81b60);
}

.modal-content.ice {
  background: linear-gradient(145deg, #b2ebf2, #00acc1);
}

.modal-content.dragon {
  background: linear-gradient(145deg, #9575cd, #512da8);
}

.modal-content.dark {
  background: linear-gradient(145deg, #8d6e63, #3e2723);
}

.modal-content.fairy {
  background: linear-gradient(145deg, #f8bbd0, #ec407a);
}

.modal-content.poison {
  background: linear-gradient(145deg, #ce93d8, #8e24aa);
}

.modal-content.ground {
  background: linear-gradient(145deg, #d7ccc8, #8d6e63);
}

.modal-content.rock {
  background: linear-gradient(145deg, #d4c4a8, #8d6e63);
}

.modal-content.fighting {
  background: linear-gradient(145deg, #ef5350, #b71c1c);
}

.modal-content.ghost {
  background: linear-gradient(145deg, #b39ddb, #4527a0);
}

.modal-content.steel {
  background: linear-gradient(145deg, #cfd8dc, #607d8b);
}

.modal-content.bug {
  background: linear-gradient(145deg, #dcedc8, #7cb342);
}

.modal-content.flying {
  background: linear-gradient(145deg, #c5cae9, #5c6bc0);
}

.modal-content.normal {
  background: linear-gradient(145deg, #eeeeee, #9e9e9e);
}


.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

#pokemon-name {
    text-transform: capitalize;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 80px;
}

.hp {
    color: #ffffff;
    font-weight: bold;
}



/*TITULOS*/
.modal-content h2 {
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 45px;
    border-bottom: 10px solid #000000;
    padding-bottom: 5px;
}


.modal-content h3 {
    margin-top: 10px;
    font-size: 40px;
    border-bottom: 5px solid #000000;
    padding-bottom: 15px;
}

/*LISTAS*/
.modal-content ul {
    list-style: none;
    padding: 0;
}

.modal-content li {
    margin: 8px 0;
}


#close-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    color: #000000;
    transition: 0.2s ease;
}

#close-btn:hover {
    transform: scale(1.2);
    color: red;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/*ESTADISTICAS*/
.stat-bar {
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    height: 10px;
    margin: 5px 0 15px 0;
}

.stat-fill {
    background: #000000;
    background: linear-gradient(90deg, #1a4d7a, #15b6bf);
    height: 200%;
    transition: width 0.5s ease;
    
}

.stat-bar {
    background: #000000;
    border-radius: 2px;
    height: 15px;
    margin: 2px;;
    overflow: hidden;
    margin-bottom: 10px;
}


.stat-fill {
    background:#ffffff;
    background: #000000;
    height: 500%;
    border-radius: 1px;
    transition: width 0.6s ease;
}


/*ID*/
#pokemon-id {
    opacity: 0.6;
    font-size: 14px;
}
