/*fondo*/
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #1e1e2f, #2b2b45);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*card*/
.card {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    padding: 30px;
    border-radius: 20px;
    width: 320px;
    text-align: center;
    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
    color: white;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: translateY(-5px);
}
.card img {
    width: 220px;
    filter: drop-shadow(0 15px 25px rgba(0,0,0,0.6));
    transition: transform 0.4s ease;
}

.card img:hover {
    transform: scale(1.08);
}

#pokemon-name {
    font-size: 28px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 15px 0 5px 0;
}

/*imagen*/

img:hover {
    transform: scale(1.1) rotate(2deg);
}
.type {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: 5px;
    transition: transform 0.2s ease;
}
.type:hover {
    transform: scale(1.1);
}

/* pokemones los tipos */
.type.normal { 
  background: #bdbdbd; color: #000;}
.type.electric { 
  background: #f7d02c; color: #000;}
.type.fire { 
  background: #ee8130;}
.type.ground { 
  background: #e2bf65;}
.type.rock { 
  background: #b6a136; color: #000;}
.type.water { 
  background: #6390f0;}
.type.grass { 
  background: #7ac74c;}
.type.bug { 
  background: #a6b91a;}
.type.flying { 
  background: #a98ff3;}
.type.ice { 
  background: #96d9d6; color: #000;}
.type.poison { 
  background: #a33ea1;}
.type.fairy { 
  background: #d685ad;}
.type.fighting { 
  background: #c22e28;}
.type.psychic { 
  background: #f95587;}
.type.steel { 
  background: #b7b7ce; color: #000; }
.type.ghost { 
  background: #735797;}
.type.dark { 
  background: #705746;}
.type.dragon { 
  background: #6f35fc;}



  
/*boton*/
button {
    padding: 10px 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    color: white;
    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

button:active {
    transform: scale(0.95);
}

/* La parte de los modal */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden {
    display: none;
}
#modal-img {
    width: 200px;
    margin-bottom: 10px;
}
.modal-content {
     background: linear-gradient(145deg, #ffffff, #f3f3f3);
    padding: 30px;
    border-radius: 20px;
    width: 350px;
    text-align: center;
    position: relative;
    animation: fadeIn 0.3s ease;
    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}

/*TITULOS*/
.modal-content h2 {
    text-transform: capitalize;
    margin-bottom: 10px;
}

.modal-content h3 {
    margin-top: 20px;
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
}

/*LISTAS*/
.modal-content ul {
    list-style: none;
    padding: 0;
}

.modal-content li {
    margin: 8px 0;
}


#close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/*ESTADISTICAS*/
.stat-bar {
    background: #ddd;
    border-radius: 10px;
    overflow: hidden;
    height: 8px;
    margin: 5px 0 15px 0;
}

.stat-fill {
    background: linear-gradient(90deg, #4facfe, #00f2fe);
    height: 100%;
    transition: width 0.5s ease;
}

/*ID*/
#pokemon-id {
    opacity: 0.6;
    font-size: 14px;
}