body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: scale(1.03);
}
img {
    width: 150px;
    transition: transform 0.3s ease;
}
img:hover {
    transform: scale(1.1);
}
.type {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 8px;
    color: white;
    margin: 5px;
}

/* pokemones los tipos */
.type.normal { 
  background: #bdbdbd; color: #000;}
.type.electric { 
  background: #f7d02c; color: #000;}
.type.fire { 
  background: #ee8130;}
.type.ground { 
  background: #e2bf65;}
.type.rock { 
  background: #b6a136; color: #000;}
.type.water { 
  background: #6390f0;}
.type.grass { 
  background: #7ac74c;}
.type.bug { 
  background: #a6b91a;}
.type.flying { 
  background: #a98ff3;}
.type.ice { 
  background: #96d9d6; color: #000;}
.type.poison { 
  background: #a33ea1;}
.type.fairy { 
  background: #d685ad;}
.type.fighting { 
  background: #c22e28;}
.type.psychic { 
  background: #f95587;}
.type.steel { 
  background: #b7b7ce; color: #000; }
.type.ghost { 
  background: #735797;}
.type.dark { 
  background: #705746;}
.type.dragon { 
  background: #6f35fc;}



button {
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #333;
    color: white;
    transition: background 0.3s ease;
}

button:hover {
    background: #555;
}

/* La parte de los modal */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden {
    display: none;
}
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
    position: relative;
    animation: fadeIn 0.3s ease;
}
#close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
}
@keyframes fadeIn {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}